<ion-header-bar class="app-header">
    LeKhabar
    <img src="img/avatar.png" class="profile-icon" />
</ion-header-bar>

<ion-content ng-controller= "NewsCardController">
    <ion-refresher pulling-text="Pull to Refresh..." on-refresh="refreshFeed()"></ion-refresher>
    
    <ion-list>
        <ion-item class="">
            <div class="row">
              <div class="col col-40 news" >
                <a href="/#/categories/1">
                  <img src="img/toi_icon.png">
                </a>
              </div>
              <div class="col col-40 news">
                <a href="/#/categories/2">
                  <img src="img/ndtv_icon.png">
                </a>
              </div>
            </div>

            <div class="row">
              <div class="col col-40 news">
                <a href="/#/categories/3">
                  <img src="img/hindustan_times_icon.png">
                </a>
              </div>
              <div class="col col-40 news">
                <a href="/#/categories/4">
                  <img src="img/cnn_icon.png">
                </a>
              </div>
            </div>

            <div class="row">
              <div class="col col-40 news">
                <a href="/#/categories/5">
                  <img src="img/cnbc_icon.jpg">
                </a>
              </div>
              <div class="col col-40 news">
                <a href="/#/categories/6">
                  <img src="img/hindu_icon.jpg">
                </a>
              </div>
            </div>

            <div class="row">
              <div class="col col-40 news">
                <a href="/#/categories/7">
                  <img src="img/india_today.png">
                </a>
              </div>
              <div class="col col-40 news">
                <a href="/#/categories/8">
                  <img src="img/india_express.png">
                </a>
              </div>
            </div>

            <div class="row">
              <div class="col col-40 news">
                <a href="/#/categories/9">
                  <img src="img/star_news.jpg">
                </a>
              </div>
              <div class="col col-40 news">
                <a href="/#/categories/10">
                  <img src="img/zee_news.png">
                </a>
              </div>
            </div>
                  
        </ion-item>
    </ion-list>

</ion-content>