/* Empty. Add your own CSS if you like */
.content img{
	height: 50%;
	width: 100%;
}
.content{
	font-size: 0;
	word-wrap: normal;
}
.list_title{
	word-wrap: normal !important; 	
}
.news{
	margin: 15px;	
}
.news img{
	height: 100px;
	width: 100px;
	border: solid;
}
.cat-image {
	width: 40px;
	float: left;
}
.category_name {
	margin-left: 50px;
	padding-left: 10px;
	font-size: 25px;
	color: black;
	padding-top: 10px;
}
.no-line {
	text-decoration: none !important;
}
.pull-right {
	float: right;
}